:root {
  --main-letter-colour: #444444;
  --main-green-colour: #68a691;
  --main-green-light-colour: #d0e9e2;
  --main-yellow-color: #ffd670;
  --main-pink-color: #c2949e;
  --main-dark-colour: #868181;
  --gradient: linear-gradient(
    90deg,
    #f0a1dc,
    #eba3e5,
    #eeabf7,
    #e4c6db,
    #ddf08a,
    #eccd93
  );
}

.herobanner-background-image-homepage {
  background-image: url("/image/herobanner-homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-position: 20% 80%;
}

.herobanner-text h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 32px;
  color: #ffffff;
  margin-top: 350px;
  text-align: center;
}

.subscribe-newsletter-homepage {
  margin: 100px auto;
}

.welcom-text-homepage,
.travel-hackes-homepage-text {
  margin: 100px 16px;
}

.subscribe-box-homepage {
  background-color: var(--main-green-light-colour);
}

.subscribe-newsletter-homepage {
  height: 320px;
  background-color: var(--main-green-light-colour);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: #00000066;
}

.modal-box {
  color: #444444;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: modal-animation 4s infinite;
  margin: auto;
  border: 2px solid var(--main-pink-color);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
}

.text-box-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid var(--main-pink-color);
  border-bottom: none;
  height: 100px;
  padding-bottom: 32px;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 32px), 0% 100%);
}

@keyframes modal-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.carusel-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.carusel-box h2 {
  margin: 16px;
}

.carousel-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 100%;
  position: relative;
}

.img-carousel {
  object-fit: cover;
  height: 200px;
  width: 300px;
  border-radius: 15px;
}

.text-slide-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  right: 40px;
  bottom: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
}

.carusel-box button {
  margin: 16px;
  width: 100px;
  display: inline;
}

/* .image-carousel-box h2 {
  text-align: center;
  padding: 16px;
}

.carousel-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.blog-post-image-box img {
  position: relative;
}

.text-box-carousel {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
}

.blog-post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 15px;
  margin: 8px;
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 200px;
  position: absolute;
  transition: all 0.5s;
}

.blog-post-card:hover {
  transform: scale(1.04);
  transition: 1s;
}

.blog-post-card img {
  border-radius: 15px;
  height: 400px;
  width: 100%;
}

.blog-post-card h3 {
  text-align: center;
}

.blog-post-card h3,
.blog-post-card p {
  padding: 8px;
}

.blog-post-card p {
  font-size: 12px;
}

.sircel-for-carousel-box button {
  border-radius: 15px;
}

.sircel-for-carousel-box {
  display: flex;
  justify-content: center;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #b9c2bf;
  margin: 0 12px;
}

.current-slide {
  background: var(--main-green-colour);
} */

.subscribe-newsletter-content {
  flex-direction: column;
  margin: 16px auto;
  padding: 8px;
}

.subscribe-newsletter-content form button {
  margin: 8px auto;
}

.subscribe-newsletter-content h2,
.subscribe-newsletter-content p {
  text-align: center;
}

.subscribe-newsletter-content h2 {
  font-family: "Amaranth", sans-serif;
  font-size: 50px;
  padding: 4px;
}

.subscribe-newsletter-content p {
  color: var(--main-letter-colour);
  padding: 2px;
}

.error-input-name,
.error-input-email {
  color: #ff0000;
  font-size: 8px;
  display: none;
}

@media screen and (min-width: 650px) {
  .herobanner-text h1 {
    font-size: 50px;
  }
}
