:root {
  --main-letter-colour: #444444;
  --main-green-colour: #68a691;
  --main-green-light-colour: #d0e9e2;
  --main-dark-colour: #868181;
  --gradient: linear-gradient(
    90deg,
    #f0a1dc,
    #eba3e5,
    #eeabf7,
    #e4c6db,
    #ddf08a,
    #eccd93
  );
}

.herobanner-background-image-homepage {
  background-image: url("/image/herobanner-homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-position: 20% 80%;
}

.herobanner-text h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 32px;
  color: #ffffff;
  margin-top: 350px;
  text-align: center;
}

.subscribe-newsletter-homepage {
  margin: 100px auto;
}

.welcom-text-homepage,
.travel-hacks-homepage-text {
  margin: 100px 16px;
}

.subscribe-box-homepage {
  background-color: var(--main-green-light-colour);
}

.subscribe-newsletter-homepage {
  height: 320px;
  background-color: var(--main-green-light-colour);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: #00000066;
}

.modal-box {
  color: var(--main-dark-colour);
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: modal-animation 4s infinite;
  margin: auto;
  border: 2px solid var(--main-pink-color);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
}

.text-box-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid var(--main-pink-color);
  border-bottom: none;
  height: 100px;
  padding-bottom: 32px;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 32px), 0% 100%);
}

@keyframes modal-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.carusel-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.carusel-box h2 {
  margin: 16px;
}

.carousel-container {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
}

.img-carousel {
  object-fit: cover;
  height: 400px;
  width: 290px;
  border-radius: 15px;
  margin: 15px;
}

.text-slide-carousel {
  display: flex;
  justify-content: center;
}

#btn-back,
#btn-next {
  position: absolute;
  top: 50%;
  opacity: 80%;
  transform: translateY(-50%);
}

#btn-back img,
#btn-next img {
  height: 30px;
}

#btn-next {
  right: -2%;
}

#btn-back {
  left: -2%;
}

#btn-back:hover,
#btn-next:hover {
  background-color: var(--main-green-light-colour);
}

.subscribe-newsletter-content {
  flex-direction: column;
  margin: 16px auto;
  padding: 8px;
}

.subscribe-newsletter-content form button {
  margin: 8px auto;
}

.subscribe-newsletter-content h2,
.subscribe-newsletter-content p {
  text-align: center;
}

.subscribe-newsletter-content h2 {
  font-family: "Amaranth", sans-serif;
  font-size: 50px;
  padding: 4px;
}

.subscribe-newsletter-content p {
  color: var(--main-letter-colour);
  padding: 2px;
}

.error-input-name,
.error-input-email {
  color: #ff0000;
  font-size: 8px;
  display: none;
}

@media screen and (min-width: 700px) {
  .carousel-container {
    width: 650px;
  }
}

@media screen and (min-width: 650px) {
  .herobanner-text h1 {
    font-size: 50px;
  }
  .img-carousel {
    margin: 18px;
  }
}

@media screen and (min-width: 987px) {
  .carousel-container {
    width: 987px;
  }
  .img-carousel {
    margin: 10px;
    width: 309px;
  }

  #btn-next {
    right: -5%;
  }

  #btn-back {
    left: -5%;
  }
}
