/* Nav*/
.logo img {
  height: 70px;
  justify-content: center;
  margin-top: 8px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #000000;
  height: 80px;
  background-color: transparent;
  margin: 0 2px;
}

nav form {
  display: flex;
  justify-content: center;
}

.box-search-desktop input {
  display: none;
}

.box-search-desktop,
.box-search {
  /*width: 200px;*/
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.box-search-desktop i,
.box-search i {
  font-size: 16px;
  color: #000000;
}

.box-search-desktop input,
.box-search input {
  /*display: block;*/
  flex: 1;
  height: 32px;
  background: transparent;
  border: transparent;
  padding: 10px;
  border: 2px solid #000000;
}

.box-search-desktop input::placeholder,
.box-search input::placeholder {
  color: #000000;
  font-family: "Mukta Vaani", sans-serif;
  font-size: 10px;
}

.box-search-desktop:focus,
.box-search input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

nav .links {
  display: flex;
}

.links a {
  padding: 8px;
}

header .links a:hover {
  color: #000000;
}

#mobile-menu-btn {
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-green-colour);
}

.bar {
  display: block;
  background-color: #000000;
  color: #000000;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 3px;
}

.mobbile-menu {
  display: none;
}

.mobile-menu a {
  display: none;
}

.mobile-menu form {
  display: none;
}

hr {
  border: 1px solid #000000;
  margin: 0 auto;
  max-width: 987px;
}

/*footer*/
footer {
  height: 320px;
  background-color: var(--main-green-colour);
}

footer .container {
  margin: 8px auto;
}

.content-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.menu-box,
.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
}

.fab::before {
  padding: 4px;
}

.menu-box {
  justify-content: space-around;
}

.copyright-box {
  display: flex;
  align-items: flex-end;
}

footer a,
i {
  padding: 5px;
  cursor: pointer;
}

footer p {
  color: #000000;
}

.fab {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fab p {
  font-family: "Mukta Vaani", sans-serif;
}

@media screen and (max-width: 600px) {
  nav {
    background-color: var(--main-green-colour);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .box-search-desktop {
    display: none;
  }

  .logo svg {
    height: 80px;
    width: 90px;
    padding: 10px 0 0 10px;
  }

  .box-search input {
    display: block;
  }

  #mobile-menu-btn {
    display: block;
  }

  nav .links a {
    display: none;
  }

  hr {
    display: none;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: var(--main-green-colour);
  }

  .mobile-menu a,
  .mobile-menu form {
    color: #000000;
    display: inline;
  }

  #mobile-menu-btn {
    color: #000000;
    cursor: pointer;
  }

  footer {
    height: 400px;
  }

  footer p {
    font-size: 12px;
    padding: 2px;
  }

  .content-footer {
    flex-direction: column;
  }

  .copyright-box {
    justify-content: flex-end;
  }
}
