* {
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Amaranth", sans-serif;
  font-size: 24px;
}

h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #444444;
}

p,
a {
  font-family: "Mukta Vaani", sans-serif;
  font-size: 18px;
  color: #444444;
}

:root {
  --main-green-colour: #68a691;
  --main-yellow-color: #ffd670;
  --main-pink-color: #ff70a6;
  /*--gradient:*/
}

.container {
  max-width: 987px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

button {
  padding: 16px 32px;
  border: 2px solid var(--main-pink-color);
  box-sizing: border-box;
  text-decoration: none;
  color: #d07a8d;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.3);
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  border-radius: 15px;
  background-color: #fff;
  margin: 16px;
}

button:hover {
  color: #ffffff;
  background-color: #d07a8d;
}

.herobanner-background-image-homepage {
  background-image: url("/image/herobanner-homepage.jpg");
  height: 600px;
  background-position: 20% 80%;
}

.herobanner-text {
  margin: 400px auto;
}

.herobanner-text h1 {
  font-size: 30px;
  color: #ffffff;
  margin: 16px;
}

.welcom-text-homepage {
  margin: 100px 16px;
}

.image-carousel-box {
  background-color: #9dd3c1;
}

.image-carousel-box h2 {
  text-align: center;
  padding: 16px;
}

.carousel-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-green,
.border-yellow {
  border-radius: 15px;
}

.border-yellow {
  border: 2px solid var(--main-yellow-color);
  padding: 16px;
}

.border-green {
  border: 2px solid var(--main-green-colour);
  padding: 16px;
  margin: 8px;
}

.blog-post-card {
  display: flex;
}

.blog-post-card {
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
  border: 2px solid #68a691;
  border-radius: 15px;
  margin: 8px;
}

.blog-post-card {
  transform: scale(1.04);
  transition: 1s;
}

.blog-post-card img {
  padding: 8px;
  margin: 16px auto;
  border-radius: 15px;
  height: 250px;
  width: 100%;
}

.blog-post-card h3 {
  text-align: center;
}

.blog-post-card h3,
.blog-post-card p {
  margin: 0;
  padding: 16px;
}

.sircel-for-carousel-box {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #e5faf4;
  margin: 0 12px;
  padding: 0;
}

.current-slide {
  background: var(--main-green-colour);
}

@media (min-width: 426px) {
  .blog-post-card img {
    height: 400px;
  }
}

@media (min-width: 650px) {
  .herobanner-text h1 {
    font-size: 50px;
  }
}

@media (min-width: 767px) {
  .blog-post-card img {
    height: 500px;
  }
}
