* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Amaranth", sans-serif;
  font-size: 24px;
}

h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: var(--main-letter-colour);
}

p,
a {
  font-family: "Mukta Vaani", sans-serif;
  font-size: 18px;
  color: var(--main-letter-colour);
}

:root {
  --main-letter-colour: #444444;
  --main-green-colour: #68a691;
  --main-green-light-colour: #d0e9e2;
  --main-yellow-color: #ffd670;
  --main-pink-color: #c2949e;
  --main-dark-colour: #868181;
  /*--gradient:*/
}

.container {
  max-width: 987px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

button {
  padding: 8px 16px;
  border: 2px solid var(--main-dark-colour);
  box-sizing: border-box;
  text-decoration: none;
  color: #444444;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 0 10px 27px #0000004d;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  margin: 16px;
}

button:hover {
  color: #ffffff;
  background-color: var(--main-green-colour);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  color: var(--main-letter-colour);
  font-family: "Roboto Slab", serif;
}

input {
  padding: 4px;
  width: 280px;
  border-radius: 5px;
  border: 1px solid var(--main-green-colour);
  margin: 4px;
}

/*homepage*/

.herobanner-background-image-homepage {
  background-image: url("/image/herobanner-homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-position: 20% 80%;
}

.herobanner-text {
  margin: 400px auto;
}

.herobanner-text h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 30px;
  color: #ffffff;
  margin: 16px;
}

.welcom-text-homepage,
.info-food-text-homepage,
.travel-hackes-homepage-text {
  margin: 100px 16px;
}

.subscribe-box-homepage {
  background-color: var(--main-green-light-colour);
}

.image-carousel-box h2 {
  text-align: center;
  padding: 16px;
}

.carousel-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-post-image-box {
  position: relative;
}

.text-box-carousel {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
}

.blog-post-card {
  display: flex;
}

.blog-post-card {
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 15px;
  margin: 8px;
}

.blog-post-card:hover {
  transform: scale(1.04);
  transition: 1s;
}

.blog-post-card img {
  border-radius: 15px;
  height: 400px;
  width: 100%;
}

.blog-post-card h3 {
  text-align: center;
}

.blog-post-card h3,
.blog-post-card p {
  padding: 8px;
}

.blog-post-card p {
  font-size: 12px;
}

.sircel-for-carousel-box button {
  border-radius: 15px;
}

.sircel-for-carousel-box {
  display: flex;
  justify-content: center;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #e5faf4;
  margin: 0 12px;
}

.current-slide {
  background: var(--main-green-colour);
}

.subscribe-newsletter-homepage {
  height: 320px;
  background-color: var(--main-green-light-colour);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-newsletter-content {
  flex-direction: column;
  margin: 16px auto;
  padding: 8px;
}

.subscribe-newsletter-content form button {
  margin: 8px auto;
}

.subscribe-newsletter-content h2,
.subscribe-newsletter-content p {
  text-align: center;
}

.subscribe-newsletter-content h2 {
  font-family: "Amaranth", sans-serif;
  font-size: 50px;
  padding: 4px;
}

.subscribe-newsletter-content p {
  color: var(--main-letter-colour);
  padding: 2px;
}

.error-input-name {
  color: #ff0000;
  font-size: 8px;
  display: none;
}

@media (min-width: 426px) {
  .blog-post-card img {
    height: 500px;
  }

  .blog-post-card p {
    display: flex;
  }

  .text-box-carousel {
    position: absolute;
    bottom: 100px;
    width: 450px;
  }
}

@media (min-width: 650px) {
  .herobanner-text h1 {
    font-size: 50px;
  }
}

@media (min-width: 767px) {
  .blog-post-card img {
    height: 600px;
  }
}
