header {
  background-color: #68a691;
}

.page-title {
  margin-top: 50px;
  padding: 16px 0;
}

.the-post-box {
  margin: 16px;
}

.the-post-box-image {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 300px;
  margin-top: 100px;
}

.the-post-box-image img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.text-blog-post {
  margin: 16px;
}

.modal {
  display: none;
  flex-direction: column;
  background: rgb(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-out;
  pointer-events: all;
  overflow: hidden;
}

.full-img {
  position: absolute;
  height: 60%;
  top: 40%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
  margin: 8px;
}

.full-img {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal p {
  color: #fff;
  text-align: center;
  font-size: 32px;
  position: fixed;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -5%);
}

@media screen and (min-width: 400px) {
  .full-img {
    height: 80%;
  }

  .modal p {
    bottom: 25%;
  }
}

@media screen and (min-width: 500px) {
  .full-img {
    height: 90%;
  }

  .modal p {
    bottom: 25%;
  }
}

@media screen and (min-width: 787px) {
  .full-img {
    height: 120%;
  }

  .modal p {
    bottom: 20%;
  }
}
